.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

h1 {
  text-align: center;
}

.search {
  box-sizing: border-box;
  font-size: 20px;
  margin: 20px 0 30px;
  padding: .3em .5em;
  width: 320px;
}

.users {
  color: #999;
  text-align: left;
  width: 340px;

}

.user {
  margin-bottom: 1em;
}

.name {
  color: #000;
}

.nick {
  margin-left: .5em;
}

.nick::before {
  content: '@';
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
